body{
    background-color: rgb(34, 34, 34);
    margin: 16px;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.normalCell{
    border: 2px solid grey;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px;
}

.topRow{
    background-color: rgb(72, 72, 72);
    transition: 0.25s;
}
.secondRow{
    background-color: rgb(72, 72, 72);
    transition: 0.25s;
}
.operationRow{
    background-color: rgb(60, 60, 60);
    transition: 0.25s;
}
.flowRow{
    background-color: rgb(66, 66, 66);
    transition: 0.25s;
}
.timeRow{
    background-color: rgb(72, 72, 72);
    transition: 0.25s;
}

.deleteTopRowCell,
.deleteSecondRowCell, 
.deleteOperationRowCell,
.deleteFlowRowCell,
.deleteTimeRowCell{
    border: 2px solid rgb(53, 53, 53);
    border-right: 2px solid grey;
    background-color: rgb(107, 107, 107);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px 14px;
    user-select: none;
    font-weight: bold;
    transition: 0.25s;
}
.deleteTopRowCell:hover,
.deleteSecondRowCell:hover, 
.deleteOperationRowCell:hover,
.deleteFlowRowCell:hover,
.deleteTimeRowCell:hover{
    border: 2px solid rgb(53, 53, 53);
    border-right: 2px solid grey;
    background-color: rgb(100, 26, 26);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 14px;
    user-select: none;
}

.invisibleCell{
    background-color: rgb(34, 34, 34);
    padding: 6px 14px;
    user-select: none;
    font-weight: bold;
    transition: 0.25s;
}